@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} turn this on only if you want users to have dark background on dark mode devices.*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: helvetica;
}

* {
  font-family: inherit;
}
